{% extends "base.html.twig" %}
{% block title %}
Forgot Password
{% endblock %}

{% block body %}
<section id="forgot-password" class="container py-5">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                {{ form_start(form, {
                    'attr': {
                        "class": "card form-card"
                    }
                }) }}
                {{ form_errors(form.username) }}
                <h2 class="mb-3">Forgot your password ?</h2>
                <p>Enter your username to reset it.</p>
                <div class="my-2">
                    {{ form_row(form.username)}}
                </div>
                <button class=" mt-2 btn btn-primary" type="submit">
                    Send
                </button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</section>

{% endblock %}