<h1>Hello {{ username }}</h1>

<p>
    You are receiving this mail because you requested to reset your password on Snowtricks<br><br>
    If you aren't at the origin of this action, you can ignore this message.<br>
    Else, you can just
    <a href="{{ link }}"> click here </a> to reset your password.
    (This link will expire in {{ expires }})
</p>

<p>
    Have fun !
</p>