{% set header_path = asset("build/images/header.jpg") %}
<header id="page-header">
	<div class="background" style="background: url('/static/assets/header.jpg') no-repeat center
		    center/cover"></div>
	<div class="container h-100" style="z-index:10;position:relative;">
		<div class="h-100 d-flex flex-column justify-content-center" style="position: absolute;">
			<h1 id="header-title" class="text-white">Snowtricks</h1>
			<h3 id="header-subtitle" class="text-white">The website that brings the snowboarding community to life</h3>
		</div>
	</div>
	<a href="#tricks" id="goto-tricks" class="anchor-link">
		<i class="fas fa-arrow-down"></i>
	</a>
</header>
