$page-secondary-color: hsl(214, 33%, 96%);
$images-filter-color: hsla(0, 0%, 0%, 0.7);
$anchor-links-color: hsl(0, 0%, 0%);

$navbar-height: 70px;
$footer-height: 70px;
$highlight-color: hsl(69, 100%, 50%);
$card-radius: 0.8rem;