.password-field {
  position: relative;
  &-toggler {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 1.4rem;
    background-color: transparent;
    height: 85%;
    width: 30px;
    cursor: pointer;
    @include center;
  }
}
