#page-header {
    position: relative;
    height: calc(100vh - #{$navbar-height});
    .background {
        height: 100%;
        position: absolute;
        width:100%;
        &::before {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: $images-filter-color;
        }
    }
    #header {
        &-title {
            font-family: "Bariol", sans-serif;
        }
        &-subtitle {
            max-width: 600px;
            line-height: 2.5rem;
            letter-spacing: 0.9px;
            font-size: 18px;
            @include media-breakpoint-up(md) {
                font-size: 23px;
            }
        }
    }
}