#page-navbar {
    min-height: $navbar-height;
    background: $page-secondary-color;
    #navbar-brand {
        font-family: "Bariol", sans-serif;
        font-size: 28px;
    }
    .nav-link {
        font-size: 20px;
    }
}