#load-more-button {
  z-index: 10;
}

.trick-card {
  height: 100%;
  width: 100%;
  &-infos {
    display: flex;
    height: 100%;
    padding: 0.5rem;
    a {
      width: 80%;
      text-overflow: ellipsis;
      padding: 0.25rem;
    }
    .trick-card-actions {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 20%;
      height: 100%;
      a {
      }
      button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        background: transparent;
        margin-left: 0.5rem;
      }
      button i,
      a i {
        font-size: 24px;
      }
      button i.fa-trash-alt {
        color: #f00;
      }
    }
  }
}
