<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Snowtricks{% endblock %}</title>
    {{ encore_entry_link_tags("app") }}
    {{ encore_entry_script_tags("app") }}
    {% block stylesheets %}{% endblock %}
    {% block javascripts %}{% endblock %}
</head>

<body>
    {% include "layout/nav.html.twig" %}
    {% embed "./components/toast.html.twig" %}
    {% endembed %}
    <main class="min-page-height" style="padding-bottom:120px">
        {% block body %}{% endblock %}
    </main>
    {% include "layout/footer.html.twig" %}
</body>

</html>