<a href="{{ link }}"
    class="rounded-pill w-auto bg-primary tag text-light py-2 px-3 my-1 mx-1 d-flex align-items-center">
    <span class="tag-hash rounded-circle d-flex justify-content-center align-items-center">#</span>
    <p class="m-0 ps-2">
        {{ text }}
    </p>
</a>