{{ encore_entry_script_tags("toasts") }}
<div id="toast-display" class="toast-container toast-display">
    {% for type, messages in flashes %}
    {% for message in messages %}
    <div class="toast bg-{{ type }} toast--{{ type }} my-1 d-block text-white border-0" role="alert"
        aria-live="assertive" data-bs-delay="10000" aria-atomic="true">
        <div class="d-flex justify-content-between w-full" style="z-index:1500;">
            <div class="toast-body">{{ message }}</div>
            <button type='button' class='btn-close btn-close-white me-2 m-auto' data-bs-dismiss='toast'
                aria-label='Close'></button>
        </div>
    </div>
    {% endfor %}
    {% endfor %}
</div>