{% embed "./components/curve.html.twig" %} {% endembed %}
<footer class="py-3" id="page-footer">
    <div class="container">
        <p class="text-left">&copy; 2021 Younès Ziadi</p>
    </div>
</footer>